/* Global */
:root{
    /* Color */
    --color-white:#ffffff;
    --color-black: #4d4d4d;
    --color-dark-mint: #a9d8d3;
    --color-mint: #d4e8e2;
    --color-light-grey: #7c7979;
    --color-dark-grey: darkgrey;
    --color-blue:#afeeee; 
    --color-pink:pink;
    /* Font Size */
    --font-large: 48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;
    /* Font Weight */
    --weight-bold:700;
    --weight-semi-bold:500;
    --weight-regular:400;
    /* Size */
    --size-border-radius: 4px;
    /* Animation Duration */
    --animation-duration: 300ms ;
}

/* Universal Tags */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Ubuntu';
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;
}


/* Typography */
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin:16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Nabvar */
#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    transition: all var(--animation-duration) ease-in;
    z-index: 1;
}

#navbar.navbar--dark{
    background-color: var(--color-dark-mint);
    padding: 8px;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu{
    display: flex;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
    background-color: var(--color-dark-mint);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}


/* Home */
#home{
    background: url("imgs/home-background.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 150px;
    text-align: center;
}

.home__avatar{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    border: var(--size-border-radius) solid var(--color-dark-mint)
}

.home__title,
.home__description{
    color: var(--color-light-grey);
}

.home__contact{
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding:8px 12px;
    border:2px solid var(--color-light-grey);
    border-radius: var(--size-border-radius);
    color: var(--color-light-grey);
}

/* Section common */
.section{
    padding:50px;
    text-align:center;
    margin: auto;
}

.section__container{
    max-width: 1200px;
    margin:auto;
}

/* About */
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon{
    width:170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    border: 5px solid var(--color-mint);
    border-radius: 50%;
    color: var(--color-dark-mint);
}

.major__icon i{
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
    color: var(--color-blue);
    transform : rotate(-30deg) scale(1.2);
}

.major__title{
    margin: 16px 0;
    font-size: var(--font-medium);
    color:var(--color-black);
}

.major__description{
    font-size: var(--font-small);
    color:var(--color-dark-grey);
}

.job{
    display:flex;
    align-items: center;
}

.job__description{
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period{
    color: var(--color-dark-grey);
}

.job__name{
    font-size:var(--font-small);
}

.job__period{
    font-size:var(--font-micro);
}

/* Skills */
#skills{
    background-color: var(--color-mint);
}

.skillset{
    display:flex;
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    margin: 20px 0;
}

.skillset__title{
    color: var(--color-white);
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-light-grey);
    padding: 40px;
}

.skill{
    margin-bottom: 8px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-dark-grey);
}

.skill__value{
    height: 3px;
    background-color: var(--color-blue);
}


.skillset__right{
    flex-basis: 40%;
    margin: 50px 0;
    padding: 20px;
}

/* My work */
.category__btn{
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 5px;
    padding:8px 48px;
    border:1px solid var(--color-dark-grey);
    border-radius: var(--size-border-radius);
    color: var(--color-light-grey);
}

.category__btn.active,
.category__btn:hover{
    background-color: var(--color-dark-mint);
    color:var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity:1;
    top:0;
}

.category__count{
    background-color: var(--color-blue);
    border-radius: 50%;
    color:var(--color-white);
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    /* animation transition */
    position: relative;
    top:-20px;
    left:4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.projects{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-white);
}

.projects:hover .project__description{
    opacity: 0.8;
    transform: translateX(0px);
}

.project__img{
    max-width: 100%;
    max-height: 100%;
}

.project__description{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    transform: translateX(10px);
    transition: all var(--animation-duration) ease-in;
}


.project__description h3{
    color: var(--color-white);
}

.project__description h3:after{
    content:'';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
}

/* Testimonials */
#testimonials{
    background-color: var(--color-mint);
}

.testimonials{
    margin: 40px;
}

.testimonial{
    display: flex;
    justify-content: center;
    margin: 32px;
}

.testimonial__avatar{
    width: 150px;
    border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
    margin-left: 40px;
}

.testimonial__speech-bubble{
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__speech-bubble p{
    color: var(--color-dark-grey);
}

.testimonial__speech-bubble a{
    color: var(--color-dark-mint);
}

/* Contact */
#contact{
    background-color: var(--color-dark-mint);
}

.contact__email,
.contact__title{
    color: var(--color-white);
}

.contact__title{
    margin: 32px 0;
}

.contact__links{
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__links i{
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover{
    transform:scale(1.1);
    color: var(--color-blue);
}

.contact_rights{
    font-size: var(--font-micro);
    color: var(--color-white);
}

/* For below 768px screen width */
@media screen and (max-width:768px){
    .navbar__toggle-btn{
        display:block;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 500px;
        display: none;
    }

    .about__majors{
        flex-direction: column;
    }

    .major{
        margin: 0 0 30px 0;
    }

    .skillset{
        flex-direction: column;
    }

    .projects{
        flex-grow:1;
    }

    .testimonial__avatar{
        width: 80px;
        height: 80px;
    }
}